/* takes up 100% width */
.is-paddingless-horizontal { padding-left: 0; padding-right: 0;}

.cover-img {
  /* cover makes the image fit the screen */
  background: url(../images/emoticons.jpg) center / cover;
}

.grid {
  display: grid;
  /* 3 columns, with the 624px making the center column much wider, minmax makes responsive */
  /* [xl-start] and [xl-end] make the images span all 3 columns */
  /* extra 1.5rem (abt 24px) columns are gutters for the left and right content columns */
  grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
   
}

/* main content starts at column 2 and goes 3 wide */
/* "*" refers to anything inside the grid that will inherit the grid-column */
/* .grid * { grid-column: 2 / 3 } */

/* better than with numbers for responsiveness */
.grid * { grid-column: md; }

/* to have nav span all 3 columns */
.grid-xl {grid-column: xl; }

/* center the icon */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-item {
  font-size: 30px;
  padding-top: 20px;
  margin-top: 20px;
}


@media (max-width: 672px) {
  :root {
    font-size: 90%;
  }
}

