/* takes up 100% width */
.is-paddingless-horizontal { padding-left: 0; padding-right: 0;}

.cover-img {
  /* cover makes the image fit the screen */
  background: url(../images/emoticons.jpg) center / cover;
}

.grid {
  display: grid;
  grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
   
}

/* better than with numbers for responsiveness */
.grid * { grid-column: md; }

/* to have nav span all 3 columns */
.grid-xl {grid-column: xl; }

/* center the icon */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-item {
  font-size: 30px;
  padding-top: 20px;
  margin-top: 20px;
}

.modal-buttons {
  text-align: left;
  margin-top: 15px;
}

.twitter-hashtag-button {
  margin-top: 15px;
}

@media (max-width: 672px) {
  :root {
    font-size: 90%;
  }
}

